.header { grid-area: header; }
.skills { grid-area: skills; }
.main { grid-area: main; }
.footer { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'skills main main main main main'
    'footer footer footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;
  font-family: 'Roboto Mono', monospace;
}

.hidden {
  display:none;

}

#phone {
  font-size: 15px;
}

.grid-container > .skills,
.grid-container > .header {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.grid-container > .header {
  background-color: lightgrey;
}

.grid-container > .main {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 20px 0px 0px 5%;
  font-size: 30px;
}

.icon-bar a {
  padding: 16px;
  transition: all 0.3s ease; 
  font-size: 36px; 
}

h4 {
  text-decoration: underline;
}

.grid-container > .skills {
  border-right: solid;
}

.skills > .details {
  padding: 10px;
  font-size: 15px;
}

#northwestern {
  background-color: purple;
  padding: 10px;
  width: 150px;
  height: 60px;
}

.footer {
  border-top: groove;
  padding: 20px;
}

.subHeading {
  font-size: 30px;
}


